<div id="nav" style="text-align: center;padding: 1em 0;font-size: 1.6rem;">
    <div id="nav-switch" style="margin-bottom: 10px;font-weight: 700;">
        <a style="color: #555" href="{% url 'list' %}">最新文章</a><span class="am-footer-divider"> | </span>
        <a style="color: #555" href="{% url 'timeline' %}">时间归档</a><span class="am-footer-divider"> | </span>
{#        <a style="color: #555" href="">标签归档</a><span class="am-footer-divider"> | </span>#}
        <a style="color: #555" href="">又来看我爸爸</a>
    </div>
</div>
