<div class="pagination" style="display: flex;justify-content: center;">
    <ul class="am-pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">开始</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">向上</a></li>
        {% endif %}

{#        <span class="current">#}
            <li><a>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
{#        </span>#}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">向下</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">最后</a></li>
        {% endif %}
    </ul>
</div>